Intermediate
Saved
Content/StarterContent
.vs
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*/Binaries/Win64/*.exp
*/Binaries/Win64/*.lib
*/Releases
*.log
*.target.xml
*.target
*.modules
*.opendb
